<!-- A simple webpage that shows the initial informaiton on the topic. -->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Text To Speech </title>
    {{ bootstrap.load_css() }}
    <style>
        audio {
            width: 80%;
            height: 60px;
            margin: 20px 0;
        }
    </style>
</head>
<body class="container text-center mt-5" style="background-color: bisque;">
    <h1 class="card-body bg-light text-dark rounded card shadow-lg p-3"> {{topic}} </h1>

    <div class="card shadow-lg p-3">
        <div class="card-body bg-light text-dark rounded">
            <div style="white-space: pre-line;">{{ content }}</div>
            <br>
            
            <!-- An audio autoplay block that uses the topic to play the audio file created through the text-to-speech. -->
            <audio controls autoplay>
                <source src="../static/{{topic}}.wav" type="audio/wav">
            </audio>
            <br><br>
            <audio controls autoplay>
                <source src="../static/{{topic}}.mp3" type="audio/mpeg">
            </audio>
            <!--  Too lazy to convert mp3 to wav  -->
        </div>

        <!-- A return button to take the user back to the index page. -->
        <div class="card-body bg-light text-dark rounded">
            <h4> Return to Home Page? </h4>
            <form method="POST" action="{{ url_for('home') }}">
                <button type="submit"> Home </button>
            </form>
        </div>
    </div>
    
</body>
</html>